@import "./node_modules/bootstrap/scss/bootstrap.scss";

/////////////////////////////// variables ///////////////////////////

$primary-color: rgb(0, 255, 157);
$primary-color-2: rgb(12, 199, 168);
$secondary-color: rgb(41, 38, 38);

////////////////////////////// base /////////////////////////////////@extend
* {
  padding: 0;
  margin: 0;
  font-family: "Anton" sans-serif;
  box-sizing: border-box;
}

///////////////////////////////// body ///////////////////////////////
.body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(45deg, $primary-color-2, $primary-color);
}

.calculate {
  &-box {
    border-radius: 10px;
    background-color: $secondary-color;
    width: 95%;
    max-width: 800px;
    box-shadow: 5px 5px 10px rgb(41, 38, 38);
  }

  &-heading-box {
    border-left: 2px solid $primary-color;
    color: $primary-color;
    font-size: 30px;
  }
}

.input {
  &-box {
    height: 60px;
  }

  &-field {
    background-color: transparent;
    border-bottom: 2px solid #fff !important;
    color: #fff;
    font-size: 18px;

    &:focus {
      outline: none;
    }
  }

  &-btn {
    background-color: $secondary-color;
    color: $primary-color;
    font-size: 18px;
    border-radius: 40px;
    transition: 0.5s;

    &:hover {
      box-shadow: 0px 0px 5px $primary-color;
    }
  }
}
